includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - bootstrap
        - config
        - routes
        - tests

    # The level 8 is the highest level
    level: 6

    excludePaths:
        - routes/console.php

    checkMissingIterableValueType: false
